/* Estilos para la página web */

header {
    background-color: rgb(218, 247, 237);
}

body {
    background-color: #d6f0d9;
    font-size: 16px;
}

.encabezado {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
    color: rgb(127, 165, 255);
}

body {
    background-color: #fdcccc;
    font-size: 16px;
}

.parrafo {
    text-align: justify;
    text-transform: capitalize;
    font-size: 24px;
}

#fondo {
    background-color: #dbf3df;
    /* modificar el color a elección */
}

.a {
    color: #e11111;
    text-decoration: none;
    
}
.c {
color:#dbf3df
}
.bc {
    background-color: aquamarine;
}
.fs {
    font-size: small;
}
.fw {
    font-weight: 800;
}
.fst {
    font-style: oblique;
}
.ff {
    font-family:'Courier New', Courier, monospace
}
.ta {
    text-align: center;
}
.td {
    text-decoration:overline; 
}
.tt {
    text-transform:capitalize;
}
.ls {
letter-spacing:inherit;
}
.lh {
    line-height:inherit;
}
