/* Estilos para la página web */

header {
    background-color: rgb(218, 247, 237);
}

body {
    background-color: #d6f0d9;
    font-size: 16px;
}

.encabezado {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
    color: rgb(127, 165, 255);
}

body {
    background-color: #fdcccc;
    font-size: 16px;
}

.parrafo {
    text-align: justify;
    text-transform: capitalize;
    font-size: 24px;
}

#fondo {
    background-color: #dbf3df;
    /* modificar el color a elección */
}
p a {  
    color: #e11111;  
    text-decoration: none;
    }
    