header {
    background: #fff0f9;
    background: radial-gradient(circle, rgba(255, 240, 249, 1) 0%, rgba(222, 236, 255, 1) 100%);
    color: #2C4770;
    text-align: center;
    height: 200px;
    /*altura*/
}

nav ul li {
    display: inline-block;
    /* a los elementos de la lista los coloca horizontal */
}

nav ul li a {
    /* selecciono las a */
    text-decoration: none;
    /* elimina el subrayado */
    color: #2C4770;
    /*color al enlace*/
    text-transform: uppercase;
    /* colocamos el texto de a en mayuscula */
    padding: 5px;
    /*margen interno del elemento a*/
    background-color: #e4e5ff;
    border-radius: 5px;

}

/* pseudo clases: es un estado especial que se le asigna a un elemento seleccionado -
objetivo: aplicar estilos a elementos en ciertas condiciones sin necesidad de usar otra clase adicional - 
:hover - cuando el puntero este encima de el elemento a*/

nav ul li a:hover {
    color: blanchedalmond;
    background-color: #2C4770;
}

body {
    background-color: rgb(246, 248, 253);

    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

footer {
    text-align: center;

}

#s3 span {
    color: #577aae;
    font-weight: 900;
    text-decoration: underline;
    font-size: ;
}

h2 {
    color: #2C4770;
    background-color: #fff0f9;
}

body {
    text-align: center;
}
section {
   

}
table

h2 {
    color: #2C4770;
    background-color: rgb(251, 232, 255);
    
}
ul {
    list-style: none;
}
#s2 {
    text-align: center;
}
footer {
    background-color: #ffe7f6;
}