header {
    background: #fff0f9;
    background: radial-gradient(circle, rgba(255, 240, 249, 1) 0%, rgba(222, 236, 255, 1) 100%);
    color: #2C4770;
    text-align: center;
    height: 200px; /*altura*/
}

nav ul li {
    display: inline-block; /* a los elementos de la lista los coloca horizontal */
}
nav ul li a { /* selecciono las a */
text-decoration: none; /* elimina el subrayado */
color: #2C4770; /*color al enlace*/
text-transform: uppercase; /* colocamos el texto de a en mayuscula */
padding: 5px; /*margen interno del elemento a*/
background-color:  #e4e5ff;
border-radius: 5px;

}